
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Earnings</title>
    <link rel="stylesheet" href="{% static 'myproject/css/edit_earnings.css' %}">
    <header class="u-clearfix u-header u-header" id="sec-7bf3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div style="margin-top: 20px;">
                <img src="{% static 'myproject/images/logo.png' %}" class="u-logo-image u-logo-image-1" style="width: 200px; height: auto; float: left; margin-right: 30px;">
                <nav style="float: right;">
                    <a href="{% url 'myApp:home' %}" style="margin-left: 1100px; top: 10px;">
                        <img src="{% static 'myproject/images/home_icon.png' %}" alt="Home" style="width: 24px; height: 24px;">
                    </a>
                </nav>
        </div>
    </header>
</head>
<body>
    <h1>Edit Earnings for {{ staff.name }}</h1>
    <form method="POST" action="{% url 'myApp:edit_earnings' staff.id_no %}">
        {% csrf_token %}
        <label for="basic_salary">Basic Salary:</label>
        <input type="text" id="basic_salary" name="basic_salary" value="{{ staff.basic_salary }}">
        
        <label for="hra">House Rent Allowance:</label>
        <input type="text" id="hra" name="hra" value="{{ staff.hra }}">
        
        <label for="conveyance">Conveyance:</label>
        <input type="text" id="conveyance" name="conveyance" value="{{ staff.conveyance }}">
        
        <label for="spl_allowance">Special Allowance:</label>
        <input type="text" id="spl_allowance" name="spl_allowance" value="{{ staff.spl_allowance }}">

        <label for="medical">Monthly Incentive</label>
        <input type="text" id="incentive" name="incentive" value="{{ staff.incentive }}">
        
        
        <button type="submit">Save</button>
    </form>
</body>
</html>