body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main-content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.date-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.date-selection label {
    font-size: 18px;
    margin-right: 10px;
}

.date-selection input[type="date"] {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.attendance-table th, .attendance-table td {
    border: 1px solid #66A5AD;
    padding: 12px 15px;
    text-align: center;
}

.attendance-table th {
    background: #66A5AD;
    color: white;
}

.attendance-table td select.work-mode {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #C4DFE6;
    cursor: pointer;
}

.save-button-container {
    text-align: center;
    margin-top: 20px;
}

.save-button {
    padding: 10px 20px;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-button:hover {
    background: #2ecc71;
}
header {
    position: fixed; /* Fixes the header at the top */
    top: 0; /* Positions the header at the top of the page */
    left: 0; /* Aligns the header to the left */
    right: 0; /* Aligns the header to the right */
    z-index: 1000; /* Ensures the header is above other elements */
    background-color: #C4DFE6; /* Optional: Set a background color */
}

header {
    background-color:#66A5AD; /* Set the background color of the header */
    color: #fff; /* Set the text color to white */
    padding: 10px 0; /* Add padding to the top and bottom of the header */
}

header .u-sheet-1 {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between;     /* Space out the items */
    align-items: center;            /* Center align items vertically */ 
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
